// imports
@import "./font.css";
@import "./variable";
@import "./mixins";

//
// mixin
@mixin button(
  $bg-color: $light-yellow,
  $shadow-color: #cc8b13,
  $hover: $light-yellow-hover
) {
  max-width: 460px;
    
  border-radius: 15px;
  background-color: $bg-color;
  box-shadow: 0px -8px 0px 0px $shadow-color inset;

  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: 1.25px;
  text-align: center;
  padding: 17px 122px 25px 124px;
  color: $dark-navy;
  &:hover {
    background-color: $hover;
  }
  @media screen and (max-width:576px) {
    max-width: 360px;
    width: 100%;
    padding: 20px 40px;
  }
}

@mixin med-btn($bg-color, $shadow, $hover) {
  box-shadow: 0px -4px 0px 0px $shadow inset;
  background-color: $bg-color;
  color: $dark-navy;

  font-size: 16px;
  font-weight: 700;
  line-height: 20.16px;
  letter-spacing: 1px;
  text-align: left;
  border-radius: 10px;

  &:hover {
    background-color: $hover;
  }
}

//
// styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $main-font-family, sans-serif;
  background-color: $dark-navy;
}
.container {
  max-width: 460px;
  width: 100%;
  padding-inline: 15px;
  margin: 139px auto;

  @media screen and (max-width: 576px) {
    max-width: 375px;
    margin: 84px auto 127px;
  }
}
button {
  cursor: pointer;
}
//

.restart-btn {
  width: 52px;
  aspect-ratio: 1;
  border-radius: 10px;
  background: $silver;
  box-shadow: 0px -4px 0px 0px #6b8997 inset;
  color: $semi-dark-navy;
  &:hover {
    background-color: $silver-hover;
  }
}

.choise_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choise_section-img {
  width: 71.97px;
  height: 32px;
  margin-bottom: 40px;
}
.choise_mark {
  width: 460px;

  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: $semi-dark-navy;
  border-radius: 10px;
  box-shadow: 0px -8px 0px 0px #10212a inset;
  padding: 24px 32px 34px;
  margin-bottom: 40px;
  @media screen and (max-width:480px) {
    max-width: 360px;
  }
}
.choise_mark-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: 1px;
  text-align: center;
  color: $silver;
}

.choise_mark-wrapper {
  max-width: 95%;
  width: 100%;
  background-color: $dark-navy;
  display: flex;
  padding-inline: auto;
  padding: 10px;
  border-radius: 10px;
}
.choise_mark-btn {
  max-width: 50%;
  width: 100%;
  background-color: #a8bfc90d;
  border-radius: 8px;
  padding: 10px;
  border: none;
}
.choise_mark-btn-o {
  background-color: $silver;
}
.choise_mark-bottom-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.875px;
  text-align: center;
  color: $silver;
  opacity: 0.5;
}

.choise_section-cpu {
  @include button();
  text-wrap: nowrap;
  margin-bottom: 20px;

}
.choise_section-player {
  @include button($light-blue, #118c87, $light-blue-hover);
  text-wrap: nowrap;
}
